@model SNIESWebApplication.Models.ApoyoEstudiante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApoyoEstudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEMESTRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_TIPO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TIPO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIMER_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIMER_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGUNDO_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGUNDO_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIMER_APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGUNDO_APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROGRAMA_CONSECUTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAMA_CONSECUTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROGRAMA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAMA_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECIBIO_APOYO_FINANCIERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECIBIO_APOYO_FINANCIERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECIBIO_APOYO_ACADEMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECIBIO_APOYO_ACADEMICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECIBIO_OTROS_APOYOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECIBIO_OTROS_APOYOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_PERIODO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
