@model IEnumerable<SNIESWebApplication.Models.Docente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO_IES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_IES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEMESTRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TIPO_DOCUMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_DOCUMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMER_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGUNDO_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAIS_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUNICIPIO_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIVEL_MAXIMO_ESTUDIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO_RECIBIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_GRADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAIS_INSTITUCION_ESTUDIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO_CONVALIDADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_IES_ESTUDIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_INSTITUCION_ESTUDIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.METODOLOGIA_PROGRAMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_PERIODO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO_IES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_IES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEMESTRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TIPO_DOCUMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_DOCUMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_DOCUMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIMER_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEGUNDO_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIMER_APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEGUNDO_APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAIS_NACIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUNICIPIO_NACIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIVEL_MAXIMO_ESTUDIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO_RECIBIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_GRADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAIS_INSTITUCION_ESTUDIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO_CONVALIDADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_IES_ESTUDIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_INSTITUCION_ESTUDIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.METODOLOGIA_PROGRAMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_PERIODO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
