@model IEnumerable<SNIESWebApplication.Models.EducacionContinua>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink(Recursos.Resources.CrearNuevo, "Create")
</p>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink(Recursos.Resources.DescargarReporteExcel, "CrearPlantillaExcel", null, new { @class = "btn btn-success", id = "CrearPlantillaExcel" })
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO_IES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_IES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEMESTRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO_CURSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_CURSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_HORAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TIPO_CURSO_EXTENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_CURSO_EXTENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_CURSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_PERIODO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGO_IES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_IES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ANO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEMESTRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGO_CURSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_CURSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMERO_HORAS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_TIPO_CURSO_EXTENSION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO_CURSO_EXTENSION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VALOR_CURSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_PERIODO)
            </td>
            <td>
                @Html.ActionLink(Recursos.Resources.Editar, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Recursos.Resources.Detalles, "Details", new { id = item.Id }) |
                @Html.ActionLink(Recursos.Resources.Eliminar, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
