@model SNIESWebApplication.Models.ActividadBeneficiar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActividadBeneficiar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEMESTRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_UNIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_UNIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDAD_ORGANIZACIONAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDAD_ORGANIZACIONAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_ACTIVIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_ACTIVIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_TIPO_BENEFICIARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_TIPO_BENEFICIARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_BENEFICIARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_BENEFICIARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_BENEFICIARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_BENEFICIARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_PERIODO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
