@model SNIESWebApplication.Models.BeneficiarEventoCultural

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BeneficiarEventoCultural</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_IES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_IES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AÑO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AÑO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEMESTRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_UNIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_UNIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_EVENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_EVENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_TIPO_BENEFICIARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TIPO_BENEFICIARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_BENEFICIARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_BENEFICIARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_ASISTENTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_ASISTENTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR_ENTRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR_ENTRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_PERIODO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
