<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Estudiantes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Inscritos", "Create", "Inscrito")</li>
                            <li>@Html.ActionLink("Admitidos", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Matriculados", "Create", "Matriculado")</li>
                            <li>@Html.ActionLink("Graduados", "Create", "Graduado")</li>
                            <li>@Html.ActionLink("Primiparos", "Create", "EstudiantePrimerCurso")</li>
                            <li>@Html.ActionLink("Cupos", "Create", "Cupo")</li>
                            <li>@Html.ActionLink("Retiros", "Create", "RetiroDisciplinario")</li>
                            <li>@Html.ActionLink("Apoyos", "Create", "ApoyoEstudiante")</li>
                            <li>@Html.ActionLink("Estudiante de articulacion", "Create", "EstudianteArticulacion")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Bienestar<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Actividad bienestar", "Create", "ActividadBienestar")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Extensiones<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Actividad Cultural", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Consultoría", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Cursos", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Educación Continua", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Evento Cultural", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Proyecto de Extensión", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Servicios de Extensión", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">RRHH<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Autoridades", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Directivos", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Docentes IES", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Integrantes máximo organo de gobierno ", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Internacionalización<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Convenios Internacionales", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Personal administrativo hacia Colombia ", "Admitido")</li>
                            <li>@Html.ActionLink("Personal administrativo hacia Exterior ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Docentes del exterior hacia Colombia", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Docentes hacia el exterior", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Estudiantes hacia el exterior", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Estudiantes del exterior hacia Colombia", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Programas presenciales ofrecidos en el exterior", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Derechos pecuniarios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(" Derechos Pecuniarios IES Privadas ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink(" Proyectos de Inversión ", "Admitido")</li>
                            <li>@Html.ActionLink(" Valores de Matrícula IES Privadas ", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Informacion institucional<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(" Derechos Pecuniarios IES Privadas ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink(" Proyectos de Inversión ", "Admitido")</li>
                            <li>@Html.ActionLink(" Valores de Matrícula IES Privadas ", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Participantes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Participantes", "Create", "Participante")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <hr />
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
