<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Estudiantes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Inscritos", "Create", "Inscrito")</li>
                            <li>@Html.ActionLink("Admitidos", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Matriculados", "Create", "Matriculado")</li>
                            <li>@Html.ActionLink("Graduados", "Create", "Graduado")</li>
                            <li>@Html.ActionLink("Primiparos", "Create", "EstudiantePrimerCurso")</li>
                            <li>@Html.ActionLink("Cupos", "Create", "Cupo")</li>
                            <li>@Html.ActionLink("Retiros", "Create", "RetiroDisciplinario")</li>
                            <li>@Html.ActionLink("Apoyos", "Create", "ApoyoEstudiante")</li>
                            <li>@Html.ActionLink("Estudiante de articulacion", "Create", "EstudianteArticulacion")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Bienestar<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Actividad bienestar", "Create", "ActividadBienestar")</li>
                            <li>@Html.ActionLink("Actividad benefica", "Index", "ActividadBeneficiar")</li>
                            <li>@Html.ActionLink("Actividad Rec. Humano", "Index", "ActividadRecHumano")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Extensiones<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a>Actividad Cultura<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Actividad Cultural", "Create", "ActividadCultural")</li>
                                    <li>@Html.ActionLink("Rec. Humano Cultural", "Index", "RecHumanoCulturals")</li>
                                </ul>
                            </li>
                            <li>
                                <a>Consultoría<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Consultoría", "Create", "Consultaria")</li>
                                    <li>@Html.ActionLink("Rec. Humano Consultoria", "Index", "RecHumanoConsultoria")</li>
                                </ul>
                            </li>
                            <li>
                                <a>Educación Continua<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Educación Continua", "Create", "EducacionContinua")</li>
                                    <li>@Html.ActionLink("Docente Educacion Continua", "Index", "DocenteEducacionContinua")</li>
                                    <li>@Html.ActionLink("Beneficio Educacion Continua", "Index", "BeneficioEducacionContinua")</li>
                                </ul>
                            </li>
                            <li>
                                <a>Evento Cultural<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Evento Cultural", "Create", "EventoCultural")</li>
                                    <li>@Html.ActionLink("Fte. Nacional Event. Cultural", "Index", "FteNacionEventoCultural")</li>
                                    <li>@Html.ActionLink("Fte. Internacional Evet. Cultural", "Index", "FteInternEventoCultural")</li>
                                    <li>@Html.ActionLink("Rec. Humano Evento Cultural", "Index", "RecHumanoEventoCultural")</li>
                                    <li>@Html.ActionLink("Beneficiar Evento Cultural", "Index", "BeneficiarEventoCultural")</li>
                                </ul>
                            </li>
                            <li>
                                <a>Proyecto de Extensión<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Proyecto de Extensión", "Create", "ProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Area Trabajo Pro. Ext.", "Index", "AreaTrabajoProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Ciclo Vital Pro. Ext.", "Index", "CicloVitalProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Entidad Nacional Pro. Ext.", "Index", "EntidadNacionalProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Fuente Internacional Pro. Ext.", "Index", "FuenteInternacionalProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Fuente Nacional Pro. Ext.", "Index", "FuenteNacionalProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Otra Entidad Pro. Ext.", "Index", "OtraEntidadProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Poblacion Condicional Pro. Ext.", "Index", "PoblacionCondiProyectoExtencion")</li>
                                    <li>@Html.ActionLink("Poblacion Grupo Pro. Ext.", "Index", "PoblacionGrupoProyectoExtencion")</li>
                                </ul>
                            </li>
                            <li>
                                <a>Servicios de Extensión<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Servicios de Extensión", "Create", "ServicioExtension")</li>
                                    <li>@Html.ActionLink("Area Trabajo Serv. Ext.", "Index", "AreaTrabajoServicioExtension")</li>
                                    <li>@Html.ActionLink("Ciclo Vital Serv. Ext.", "Index", "CicloVitalServicioExtension")</li>
                                    <li>@Html.ActionLink("Entidad Nacional Serv. Ext.", "Index", "EntidadNacionalServicioExtension")</li>
                                    <li>@Html.ActionLink("Fuente Internacional Serv. Ext.", "Index", "FuenteInternacionalServicioExtension")</li>
                                    <li>@Html.ActionLink("Fuente Nacional Serv. Ext.", "Index", "FuenteNacionalServicioExtension")</li>
                                    <li>@Html.ActionLink("Otra Entidad Serv. Ext.", "Index", "OtraEntidadServicioExtension")</li>
                                    <li>@Html.ActionLink("Poblacion Condicional Serv. Ext.", "Index", "PoblacionCondicionalServicioExtension")</li>
                                    <li>@Html.ActionLink("Poblacion Grupo Serv. Ext.", "Index", "PoblacionGrupoServicioExtension")</li>
                                </ul>
                            </li>                            
                        </ul>
                    </li>                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">RRHH<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Autoridades", "Index", "Home")</li>
                            <li>@Html.ActionLink("Directivos", "Index", "Home")</li>
                            <li>
                                <a>Docentes<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Docentes IES", "Create", "Docente")</li>
                                    <li>@Html.ActionLink("Capacitacion Docente", "Index", "CapacitacionDocente")</li>
                                    <li>@Html.ActionLink("Contrato Docente", "Index", "ContratoDocente")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Integrantes máximo organo de gobierno ", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Internacionalización<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a>Convenios Internacionales<b class="caret"></b></a>
                                <ul>
                                    <li>@Html.ActionLink("Convenios Internacionales", "Create", "ConvenioInternacional")</li>
                                    <li>@Html.ActionLink("Convenio Internacional Institucion", "Index", "ConvenioInternacionalInstitucion")</li>
                                </ul>
                            </li>
                            
                            <li>@Html.ActionLink("Personal administrativo hacia Colombia ", "Create","Admitido")</li>
                            <li>@Html.ActionLink("Personal administrativo hacia Exterior ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Docentes del exterior hacia Colombia", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Docentes hacia el exterior", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Estudiantes hacia el exterior", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Estudiantes del exterior hacia Colombia", "Create", "Admitido")</li>
                            <li>@Html.ActionLink("Programas presenciales ofrecidos en el exterior", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Derechos pecuniarios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(" Derechos Pecuniarios IES Privadas ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink(" Proyectos de Inversión ", "Admitido")</li>
                            <li>@Html.ActionLink(" Valores de Matrícula IES Privadas ", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Informacion institucional<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(" Derechos Pecuniarios IES Privadas ", "Create", "Admitido")</li>
                            <li>@Html.ActionLink(" Proyectos de Inversión ", "Admitido")</li>
                            <li>@Html.ActionLink(" Valores de Matrícula IES Privadas ", "Create", "Admitido")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Participantes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Participantes", "Create", "Participante")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <hr />
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
